.chat {
    display: flex;
    flex-direction: column;
    flex: 65%;
}

.chat_header  {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat_header_info {
    flex: 1;
    margin-left: 20px
}
.chat_header_info > h3 {
    font-weight: 500;

}

.chat_header_info > p {
    color: gray;
}

.chat_body {
    flex: 1;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow-y: scroll;
}

.chat_body_message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: #ffffff;
    width: fit-content;
}

.chat_body_message_time {
    margin-left: 10px;
    font-size: xx-small;
}

.chat_body_message_name {
    position: absolute;
    top: -15px;
    font-size: small;
    font-weight: 800;
}

.chat_body_message_sender {
    background-color: #dcf8c6;
    margin-left: auto;
}

.chat_footer {
    display: flex;
    padding: 5x;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat_footer > form {
    flex: 1;
    display: flex;
}

.chat_footer > form > input{
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 30px;
}

.chat_footer > form > button{
    display: none;
}

.chat_footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}